body{background-color: lightblue;}
header{background-color: chartreuse; border-radius:10px;}
.a{text-align: center; width: 100%;}
h2{border: blueviolet, solid, 5px; margin: 5px; padding: 1px}
h4{color: darkolivegreen;}