*{
    font-family: cursive ;
}
.container{
    max-width: 1500px;
    background-color: antiquewhite;
    margin: auto;
}

header{
    font-size: large;
    text-align: center;
}

.form-row{
    padding: 10px;
    display: flex;
    max-width: 900px;
    margin: auto;
}

.form-row label{
    padding-right: 10px;
}

.form-row input{
    flex: 1;
}

.column-layout{
    max-width: 1200px;
    background-color: azure;
    margin: 40px auto 0 auto;
    line-height: 1.65;
    padding:20px 50px;
}

@media(min-width: 900px){
    .column-layout{
    display: flex;
    justify-content: space-between;
    }
}

.main-column{
flex: 3;
order: 2;
margin-right: 30px;
}

.left-column{
flex: 1; 
order: 1;
margin-right: 30px;
}

.right-column{
flex: 1;
order: 3;
}

.grid-layout{
max-width: 1300px;
margin: 40px auto 0 auto;
}

.grid{
padding: 20px;
box-sizing: border-box;
margin-bottom: 20px;
flex-basis: 30% ;
}

@media (min-width: 900px){
    .grid-layout{
        display: flex;
        justify-content: space-between;
    }
}

.grid:first-child{
background-color: aqua;
}

.grid:nth-child(2){
    background-color: blueviolet;
}

.grid:last-child{
    background-color: coral;
}

.frame-layout{  
    max-width: 1300px;
    margin: 40px auto 0 auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.frame{
    width: 150px;
    height: 100px;
    text-align: center;
    color: white;
    font-size: xx-large;
    font-weight: bold;
    background-color: crimson;
    padding: 20px;
    margin-bottom: 20px;
}

.banner{
    height: 400px;
    max-width: 700px;
    margin: 40px auto 40px auto;
    background-color: darkolivegreen;
    display: flex;
}

.center-me{
    color: white;
    font-size: 50px;
    margin: auto;
}

.split-column{
max-width: 1200px;
margin:  0 auto;
}

.split-1{
background-color: wheat;
padding: 20px;
margin-bottom: 20px;

}

.split-2{
    background-color: antiquewhite;
}

.split-2-1{
background-color: turquoise;
flex: 1;
margin-bottom: 20px;
}

.split-2-2{
background-color: chartreuse;
flex: 1;
}

@media(min-width: 900px){
    .split-column{
        display: flex;
        margin-right: 40px;
    }
    .split-1{
        flex: 1;
        margin-right: 40px;
    }
    .split-2{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    }
}